{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- NEW -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0bc516fafd.js" crossorigin="anonymous"></script>

    <title>Shi Xin (Kevin) Wu</title>
    <script>
        $(document).ready(function (){
            $("#title_next").click(function (){
                $('html, body').animate({
                    scrollTop: $("#about_me").offset().top
                }, 1000);
                $(".side_nav").fadeIn(1500);
            });
        });

        $(document).ready(function (){
            $("#profile_nav").click(function (){
                $('html, body').animate({
                    scrollTop: $("#about_me").offset().top
                }, 1000);
            });
        });

        $(document).ready(function (){
            $("#experience_nav").click(function (){
                $('html, body').animate({
                    scrollTop: $("#experience").offset().top
                }, 1000);
            });
        });

        $(document).ready(function (){
            $("#skills_nav").click(function (){
                $('html, body').animate({
                    scrollTop: $("#skill").offset().top
                }, 1000);
            });
        });

        $(document).ready(function (){
            $("#contact_nav").click(function (){
                $('html, body').animate({
                    scrollTop: $("#contact").offset().top
                }, 1000);
            });
        });

        $(document).ready(function (){
            $("#projects_nav").click(function (){
                $('html, body').animate({
                    scrollTop: $("#projects").offset().top
                }, 1000);
            });
        });

        function careersShow() {
            var x = document.getElementById("old_careers");
            if (x.style.display == "none") {
                document.getElementById("careersShow").innerHTML = "Show Less";
                x.style.display = "block";
            } else {
                document.getElementById("careersShow").innerHTML = "Show More";
                x.style.display = "none";
            }
        }

        function isScrolledIntoView(el) {
            var rect = el.getBoundingClientRect();
            return rect.top <= 100;
        }

        $(function() {
            $(document).on("mousewheel", function() {
                if(isScrolledIntoView(document.getElementById("about_me"))){
                    $(".side_nav").fadeIn(500);
                }else{
                    $(".side_nav").fadeOut(200);
                }
            });
        });

        
    </script>
    
</head>
<body >

    <div id='intro_title' >
        <div id="fall_background" ></div>
        <div id = 'title_text' >
            <div class="title">
                <h1 id='title_name' >Shi Xin (Kevin) Wu</h1>
                <hr id='title_hr'  />
                <p >Professional Résume</p>
            </div>
        </div>
        <div id = 'title_next' ></div>
        <div id='title_arrow_wrapper'>
            <i class='fas fa-angle-double-down' id='down_arrow'></i>
        </div>
        <div class="overlay"></div>
    </div>

    <div class="after_title">
        <div class="side_nav" style="display:none;">
            <div class="nav_button" id="profile_nav"><i class="fas fa-user" ></i> <p>Profile</p></div>
            <div class="nav_button" id="experience_nav"><i class="fas fa-briefcase" ></i> <p>Experience</p></div>
            <div class="nav_button" id="skills_nav"><i class="fas fa-pencil-alt" ></i> <p>Skills</p></div>
            <div class="nav_button" id="projects_nav"><i class="fas fa-file-code" ></i> <p>Projects</p></div>
            <div class="nav_button" id="contact_nav"><i class="fas fa-envelope"></i> <p>Contact</p></div>
        </div>

        <div id='about_me' class="under_title" >
            <div class='section_header' >
                <t class='section_header_title'  >Profile</t><br/>
                <t class='section_header_quote' >I am an aspiring creator</t>
            </div>
            <div class='section_body'>
                <hr/>
                <div class='about_me_title' >
                    <div class="info"> 
                        <div class='projects_subtitles' >Who am I?</div>
                        <t><t class='bold' >Name: </t><br/> Shi Xin (Kevin) Wu</t>
                        <br/>
                        <t><t class='bold'>Degree: </t><br/> Bachelor in Computer Science at NYU </t>
                        <br/>
                        <t><t class='bold'>Location: </t><br/> New York City </t>
                        <br/>
                        <t><t class='bold'>Hobbies / Interests: </t><br/> Swimming, Horoscopes, Outdoor Activities</t>
                        <br/>
                        <t class='bold'>Horoscope of the Day</t>
                        <br/>
                        <t>{{description}}</t>
                    </div>
                    <div class="profile_pic"> 
                        <img src="{% static '/images/Shi Xin Wu_Headshot.jpg' %}" alt="Profile Picture" id='profile_pic_img' >
                    </div>
                    <div class="about_me">
                        <div class='projects_subtitles' >About Me</div>
                        <div class='regular_text'> 
                            I am a motivated undergraduate student attending NYU who creates opportunities to express my passion and love for programming.I enjoy exploring the world of technology during my free time Although I major in Computer science, I enjoy teaching and building robots. When I'm not working, I like to catch up on shows and go rollerblading. I love to meet new people and expand my network so feel free to reach out to me. 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='experience'  >
            <div class='section_header' >
                <t class='section_header_title' >Experience</t><br/>
                <t class='section_header_quote' >"Even the greatest was once a beginner. Don't be afraid to take that first step."<br/>- Muhammad Ali</t>
            </div>
            <div class='section_body'>
                <hr/>
                <div class='resume_title' >
                    <div class="resume_a"> 
                        Resume
                    </div>
                    <div class="resume_b">
                        <a href="{% static 'files/Shi Xin (Kevin) Wu Resume 2022.pdf' %}" target="_blank" >
                        <i class="fas fa-file-download" id='resume_icon'></i><span><t class='b_title'>Download</t></span></a>
                    </div>
                </div>
                

                <hr/>
                <div class='section_title' >
                    Education
                </div>
                {% for education in experiences.educations %}
                    <div class='experience_title' >
                        {% if education.size == 'Large' %}
                            <div class="experience_c" size="Large" style="background-image: url({{education.logo}})"></div>
                        {% elif education.size == 'Squash' %}
                            <div class="experience_c" size="Squash" style="background-image: url({{education.logo}})"></div>
                        {% elif education.size == 'None' %}
                            <div class="experience_c" size="None"><b>No Logo Available</b></div>
                        {% else %}
                            <div class="experience_c" style="background-image: url({{education.logo}})"></div>
                        {% endif %}
                        <div class="experience_a"> 
                            <div> 
                                <span><t class='grid_left_title' >{{education.name}}</t>
                                    <a class='grid_left_link' href={{education.link}} target="_blank"><i class="fas fa-external-link-alt" ></i></a>
                                    </span>
                                <br/>
                                <t class='grid_left_time'>{{education.time}}</t>
                            </div>
                        </div>
                        <div class="experience_b">
                            <div> 
                                <t class='b_title'>{{education.program}}</t>
                                <br/>
                                <t class='grid_left_time'>{{education.description}}</t>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class='section_body'>
                <hr/>
                <div class='section_title'>
                    Career
                </div>
                {% for career in career_recent %}
                    <div class='experience_title' >
                        {% if career.size == 'Large' %}
                            <div class="experience_c" size="Large" style="background-image: url({{career.logo}})"></div>
                        {% elif career.size == 'Squash' %}
                            <div class="experience_c" size="Squash" style="background-image: url({{career.logo}})"></div>
                        {% elif career.size == 'None' %}
                            <div class="experience_c" size="None"><b>No Logo Available</b></div>
                        {% else %}
                            <div class="experience_c" style="background-image: url({{career.logo}})"></div>
                        {% endif %}
                        <div class="experience_a"> 
                            <div> 
                                <span><t class='grid_left_title' >{{career.company}}</t>
                                    {% if career.link != 'none' %}
                                        <a class='grid_left_link' href={{career.link}} target="_blank"><i class="fas fa-external-link-alt" ></i></a>
                                    {% endif %}
                                    </span>
                                <br/>
                                <t class='grid_left_time'>{{career.time}}</t>
                            </div>
                        </div>
                        <div class="experience_b">
                            <div> 
                                <t class='b_title'>{{career.position}}</t>
                                <br/>
                                <t class='grid_left_time'>{{career.description}}</t>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div id='old_careers' style='display: none;'>
                    {% for career in career_old %}
                    <div class='experience_title' >
                        {% if career.size == 'Large' %}
                            <div class="experience_c" size="Large" style="background-image: url({{career.logo}})"></div>
                        {% elif career.size == 'Squash' %}
                            <div class="experience_c" size="Squash" style="background-image: url({{career.logo}})"></div>
                        {% elif career.size == 'None' %}
                            <div class="experience_c" size="None" ><b>No Logo Available</b></div>
                        {% else %}
                            <div class="experience_c" style="background-image: url({{career.logo}})"></div>
                        {% endif %}
                        <div class="experience_a"> 
                            <div> 
                                <span><t class='grid_left_title' >{{career.company}}</t>
                                    {% if career.link != 'none' %}
                                        <a class='grid_left_link' href={{career.link}} target="_blank"><i class="fas fa-external-link-alt" ></i></a>
                                    {% endif %}
                                    </span>
                                <br/>
                                <t class='grid_left_time'>{{career.time}}</t>
                            </div>
                        </div>
                        <div class="experience_b">
                            <div> 
                                <t class='b_title'>{{career.position}}</t>
                                <br/>
                                <t class='grid_left_time'>{{career.description}}</t>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id='careersShow' onclick="careersShow()" >
                    Show More
                </div>
            </div>
        </div>

        <div class="skill" id="skill">
            <div class='section_header' >
                <t class='section_header_title' >Skills</t><br/>
                <t class='section_header_quote' >"Never chase opportunities. Let it come to you by creating value and building rare skillsets."<br/>- Johannes Larsson</t>
            </div>
            <div class='section_body'>
                <hr/>
                <div>
                    <div class="skill_outter_wrapper"> 
                        <div class='skill_title'>Programming Languages</div>
                        <div class="skill_wrapper"> 
                            {% for language in language_skills %}
                            <div class="skill_component" onmouseover="document.getElementById('{{language.nameTag}}').style.display = 'block';" onmouseout="document.getElementById('{{language.nameTag}}').style.display = 'none';"> 
                                <div class="skill_text"> 
                                        {{language.name}}
                                </div>
                                <div class="skill_rating"> 
                                    <progress value="{{language.years}}" max="{{language.max}}"> {{language.years}} Years </progress>
                                </div>
                                <div class="infobox" id={{language.nameTag}} >
                                    <div class="talk-bubble tri-right btm-right">
                                        <div class="talktext">
                                            <b>Programming Language:</b> {{language.name}}<br/>
                                            <b>Years of Experience:</b> {{language.years}}<br/>
                                            {{language.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                    <div class="skill_outter_wrapper"> 
                        <div class='skill_title'>Programming Tools</div>
                            <div class="skill_wrapper"> 
                                {% for tool in programming_tools %}

                                <div class="skill_component" onmouseover="document.getElementById('{{tool.nameTag}}').style.display = 'block';" onmouseout="document.getElementById('{{tool.nameTag}}').style.display = 'none';"> 
                                    <div class="skill_text"> 
                                        {{tool.name}}
                                    </div>
                                    <div class="skill_rating"> 
                                        <progress value="{{tool.years}}" max="{{tool.max}}"> {{tool.years}} Years </progress>
                                    </div>
                                    <div class="infobox" id={{tool.nameTag}}>
                                        <div class="talk-bubble tri-right btm-right">
                                            <div class="talktext">
                                            <p>
                                                <b>Programming Tool:</b> {{tool.name}}<br/>
                                                <b>Years of Experience:</b> {{tool.years}}<br/>
                                                {{tool.description}}
                                            </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="skill_outter_wrapper"> 
                        <div class='skill_title'>Softwares</div>
                            <div class="skill_wrapper"> 
                                {% for software in software_skills %}
                                <div class="skill_component" onmouseover="document.getElementById('{{software.nameTag}}').style.display = 'block';" onmouseout="document.getElementById('{{software.nameTag}}').style.display = 'none';"> 
                                    <div class="skill_text"> 
                                        {{software.name}}
                                    </div>
                                    <div class="skill_rating"> 
                                        <progress value="{{software.years}}" max="{{software.max}}"> {{software.years}} Years </progress>
                                    </div>
                                    <div class="infobox" id={{software.nameTag}}>
                                        <div class="talk-bubble tri-right btm-right">
                                            <div class="talktext">
                                            <p>
                                                <b>Software:</b> {{software.name}}<br/>
                                                <b>Years of Experience:</b> {{software.years}}<br/>
                                                {{software.description}}
                                            </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id='projects'>
            <div class='section_header' >
                <t class='section_header_title' >Projects</t><br/>
                <t class='section_header_quote'>"You don't learn to walk by following rules. You learn by doing, and by falling over."<br/>- Richard Branson</t>
            </div>
            <div id='projects_list' >
                <hr/>
                {% for project in projects %}
                    <div class='projects_title' >
                        <div class="projects_a"> 
                            <img src="{% static project.image %}" alt={{project.image_alt}} class='project_img' >
                        </div>
                        <div class="projects_b">
                            <h5 class='grid_left_title' >{{project.name}}<span>
                                <a class='grid_left_link' href={{project.link}} target="_blank"><i class="fas fa-external-link-alt" ></i></a>
                            </span></span> </h5>
                            <div class='grid_left_time'>
                                {{project.description}}
                                <br/>
                                {{project.used}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id='contact' >
        <div class='section_header'>
            <t class='contact_header_title'  >Contact</t><br/>
            <t class='contact_header_quote' >"Life is beautiful not because of the things we see or do. <br/>Life is beautiful because of the people we meet."<br/>- Simon Sinek</t>
        </div>
        <div class='contact_body'>
            <hr />
            <div class='contact_title' >
                <div class="contact_a"> 
                    <i class="far fa-envelope" id='contact_icon'></i><span class='contact_icon_text' >Email: sxw207@nyu.edu</span>
                </div>
                <div class="contact_b">
                    <i class="fas fa-phone-alt" id='contact_icon'></i><span class='contact_icon_text' >Phone: (917) 618 - 8958</span>
                </div>
                <div class="contact_c">
                    <a href="http://www.linkedin.com/in/shixinkevinwu" class='white_link'><i class="fab fa-linkedin-in" id='contact_icon'></i><span class='contact_icon_text' >Linkedin</span></a>
                </div>
                <div class="contact_d">
                    <a href="https://my.indeed.com/p/shixinw-aqtitv7" class='white_link'><img id='indeed_logo' src="{% static '/images/Indeed_logo_white.png' %}" alt='Indeed' >
                        <span id='indeed_text' >Indeed</span></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</body>
</html>