

#para1 {
    text-align: center;
    color: red;
  }

.para1 {
text-align: center;
color: red;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .h2 {
    margin: 60px;
    text-align: justify;
  }

  #background{
      background-image: url("/static/images/background_img.jpg");
  }
  #Kevin_Sec{
      background-image: url("/static/images/background_img.jpg");
      /* display: flex; */
      justify-content: center;
  }

  #Slide1{
      display: flex;
      justify-content: center;
  }

  #Slide1 > div {
  width: 90%;
  margin: 8%;
  text-align: center;
  line-height: 100%;
  font-size: 40px;
  }

  #Slide2{
      display: flex;
      justify-content: center;
  }

  #Slide2 > div{
      width: 70%;
      margin: 4%;
      text-align: center;
      line-height: 100%;
      font-size: 40px;
  }


  #Slide3{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 0;
  }

  #slide3_title{
      text-align: center;
      line-height: 1vw;
      font-size: 40px;
  }

  .carousel-fade .carousel-item {
      opacity: 0;
      transition-duration: 1s;
      transition-property: opacity;
  }

  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
      opacity: 1;
  }

  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
      opacity: 0;
  }

  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
      transform: translateX(0);
      transform: translate3d(0, 0, 0);
  }
  #profile-pic{
      border-radius: 100%;
      width: 33vw;
      /* height: auto; */
      /* width: 150%;
      border-radius: 100%; */
      margin-left: 3vw;
      /* padding-top: 0%; */
  }

  #white_text{
      font-weight: bold;
      font-size: 3vw;
  }

  #text{
      color:#a3d31e;
      line-height: 1.6;
      font-size: 2.3vw;
  }

  .rainbow {
      text-align: center;
      text-decoration: underline;
      font-size: 32px;
      font-family: monospace;
      letter-spacing: 5px;
  }
  .rainbow_text_animated {
      background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: rainbow_animation 6s ease-in-out infinite;
      background-size: 400% 100%;
  }

  @keyframes rainbow_animation {
      0%,100% {
          background-position: 0 0;
      }

      50% {
          background-position: 100% 0;
      }
  } 

  #chart_wrap{
      position: relative;
      padding-bottom: 100%;
      height: 0;
      overflow:hidden;
  }
  
  #piechart_3d {
      /* position: absolute; */
      top: 0;
      left: 0;
      width:10vw;
      height:10vw;
      /* height:500px; */
  }